.mobile-menu-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 44px 0 0;
  padding: 15px;
  border: none;
  background-color: var(--color-bg);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &::backdrop {
    display: none;
  }

  &__close-button-wrapper {
    margin-bottom: 22px;
  }

  &__close-button {
  }

  &__body {
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 50px;
    color: var(--color-dark);
    line-height: 21px;
  }

  &__item {
  }

  &__link {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      inset: 0 -5px 0 -5px;
      background-color: var(--ui-focus);
      z-index: -1;
      opacity: 0;
    }

    &:focus-visible {
      outline: none;

      &::before {
        opacity: 1;
      }
    }

    @include hover {
      color: var(--ui-hover);
    }

    &:active {
      color: var(--ui-active);
    }
  }
}