.header {
  position: relative;
  padding-block: 28px 27px;
  border-bottom: var(--border-bottom);

  @include tablet {
    padding-block: 10px 19px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      margin-top: 44px;
      background-color: #ddd;
    }
  }

  @include tablet-s {
    padding-block: 10px 17px;
  }

  @include mobile {
    padding-block: 10px 13px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      row-gap: 30px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 27px;
    }
  }

  &__logo {
    margin-right: auto;

    @include mobile {
      margin-right: 0;
    }
  }

  &__menu {
    position: relative;
    margin-right: 60px;

    @include tablet {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
    }
  }

  &__actions-wrapper {
    @include flex-center;
    column-gap: 30px;

    @include mobile {
      width: 100%;
    }
  }

  &__actions-burger-button {
    margin-right: auto;
  }

  &__actions-search-button {
  }

  &__actions-login-button {
  }
}