.partners {
  padding-block: 90px;
  background-color: var(--color-bg);

  @include tablet {
    padding-block: 60px;
  }


  &__inner {
  @include mobile {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  }

  &__title {
  }

  &__list {
    @include mobile {
      display: flex;
      overflow-x: visible;
    }
  }

  &__item {
    @include flex-center;

    grid-column: 3 span;
    height: 135px;
    padding-inline: 15px;
    border: var(--border);

    @include tablet {
      height: 80px;
    }

    @include tablet-s {
      grid-column: 6 span;
      height: 127px;
    }

    @include mobile {
      flex-shrink: 0;
      flex-basis: 150px;
      height: 80px;
    }
  }

  &__image {
  }
}