.sketchbook {
  padding-top: 90px;

  @include tablet {
    padding-top: 60px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: start;
    column-gap: 30px;

    @include tablet-s {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-shrink: 0;
    max-width: 350px;
    padding-top: 24px;

    @include tablet {
      max-width: 330px;
      padding-top: 0;
    }

    @include tablet-s {
      max-width: 510px;
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--color-gray);

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__button {
  }

  &__image-wrapper {
    @include tablet {
      margin-right: -39px;
    }

    @include tablet-s {
      margin-right: 0;
    }
  }

  &__image {
  }
}