body {
  font-family: var(--font-family-base), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text);
  background-color: var(--color-light);

  @include tablet-s {
    font-size: 16px;
  }

  @include mobile {
    font-size: 14px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  --paragraphMarginBottom: 10px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;

  @include tablet {
    font-size: 50px;
  }

  @include tablet-s {
    font-size: 38px;
  }

  @include mobile {
    font-size: 30px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;

  @include tablet {
    font-size: 30px;
  }

  @include tablet-s {
    font-size: 24px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;

  @include tablet-s {
    font-size: 24px;
    line-height: 28px;
  }
}