<header class="header">
  <div class="header__inner container">
    <a href="#!" class="header__logo logo">
      <img
        class="logo__image"
        src="./img/logo.svg"
        alt="Simple Logo"
        width="140"
        height="22"
        loading="lazy"
      />
    </a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#!">Продукция</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Материалы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">О нас</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#!">Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="header__actions-wrapper">
      <button class="header__actions-search-button search-button" type="button">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_496)">
            <path
              d="M13 19C8.58175 19 5.00003 15.4183 5.00003 11C5.00003 6.58172 8.58175 3 13 3C17.4183 3 21 6.58172 21 11C21 15.4183 17.4183 19 13 19Z"
              stroke="#4C5866"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.99998 20.9999L7.34998 16.6499"
              stroke="#4C5866"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_496">
              <rect
                width="24"
                height="24"
                fill="white"
                transform="matrix(-1 0 0 1 24 0)"
              />
            </clipPath>
          </defs>
        </svg>
      </button>
      <a class="header__actions-login-button login-button" href="#!">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_497)">
            <path
              d="M15 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H15"
              stroke="#4C5866"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10 17L15 12L10 7"
              stroke="#4C5866"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15 12H3"
              stroke="#4C5866"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_497">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>
  </div>
</header>