<section class="hero">
  <div class="hero__inner container">
    <div class="hero__body">
      <h1 class="hero__title">Простые вещи. Из бумаги</h1>
      <div class="hero__description">
        <p>Бума́га (предположительно от итал. bombagia, первоисточником же считается иранский) — волокнистый материал с минеральными добавками. </p>
      </div>
      <a class="hero__button button" href="#!">Каталог</a>
    </div>
    <picture class="hero__image-wrapper">
      <source media="(max-width: 767px)" srcset="./img/hero/hero-bg-mobile.webp">
      <source media="(max-width: 1023px)" srcset="./img/hero/hero-bg-tablet.webp">
      <img
        class="hero__image"
        src="./img/hero/hero-bg.webp"
        alt="Рулон бумаги"
        loading="lazy"
      />
    </picture>
  </div>
</section>