<section class="partners">
  <div class="partners__inner container">
    <h2 class="partners__title visually-hidden">Партнеры</h2>
    <ul class="partners__list grid grid--12">
      <li class="partners__item">
        <img
          class="partners__image"
          src="./img/partners/1.svg"
          alt="Hahnemuhle"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          class="partners__image"
          src="./img/partners/2.svg"
          alt="Canson"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          class="partners__image"
          src="./img/partners/3.svg"
          alt="Royal Talens"
          loading="lazy"
        />
      </li>
      <li class="partners__item">
        <img
          class="partners__image"
          src="./img/partners/4.svg"
          alt="Fabriano"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>