<section class="product">
  <div class="product__inner container">
    <h2 class="product__title visually-hidden">Продукты</h2>
    <ul class="product__list">
      <li class="product__item">
        <article class="product__card product-card">
          <div class="product-card__image-wrapper">
            <img
              class="product-card__image"
              src="./img/product/1.webp"
              alt="Упаковка"
              loading="lazy"
            />
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">Упаковка</h3>
            <span>Тираж: от 50 штук</span>
            <div class="product-card__description">
              <p>
                Сделано из крафт-бумаги или плотного картона. Упаковки имеют
                различные формы и расцветки, изготовим форму под заказ.
              </p>
            </div>
            <a class="product-card__link link-arrow" href="#!">
              Подробнее
              <svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z"
                  fill="#7875FE"
                />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product__card product-card">
          <div class="product-card__image-wrapper">
            <img
              class="product-card__image"
              src="./img/product/2.webp"
              alt="Пакет"
              loading="lazy"
            />
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">Пакеты</h3>
            <span>Тираж: от 200 штук</span>
            <div class="product-card__description">
              <p>
                С прямоугольным дном. От 10 см до 60 см по высоте. Материалы: картон, крафт-бумага. Различные расцветки и дизайн.
              </p>
            </div>
            <a class="product-card__link link-arrow" href="#!">
              Подробнее
              <svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z"
                  fill="#7875FE"
                />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product__card product-card">
          <div class="product-card__image-wrapper">
            <img
              class="product-card__image"
              src="./img/product/3.webp"
              alt="Кейс"
              loading="lazy"
            />
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">Кейсы</h3>
            <span>Тираж: от 30 штук</span>
            <div class="product-card__description">
              <p>
                Подойдет для документов и других бумаг. Различные расцветки, размеры и плотность. Материал: прессованная бумага.
              </p>
            </div>
            <a class="product-card__link link-arrow" href="#!">
              Подробнее
              <svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z"
                  fill="#7875FE"
                />
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product__card product-card">
          <div class="product-card__image-wrapper">
            <img
              class="product-card__image"
              src="./img/product/4.webp"
              alt="Другие изделия"
              loading="lazy"
            />
          </div>
          <div class="product-card__body">
            <h3 class="product-card__title">Другие изделия </h3>
            <span>Тираж: от 100 штук</span>
            <div class="product-card__description">
              <p>
                Нестандартные упаковки, кейсы и другие изделия различных размеров и конфигураций. Изготовим в кратчайшие сроки.
              </p>
            </div>
            <a class="product-card__link link-arrow" href="#!">
              Подробнее
              <svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20.7071 8.20711C21.0976 7.81658 21.0976 7.18342 20.7071 6.79289L14.3431 0.428932C13.9526 0.0384078 13.3195 0.0384078 12.9289 0.428932C12.5384 0.819457 12.5384 1.45262 12.9289 1.84315L18.5858 7.5L12.9289 13.1569C12.5384 13.5474 12.5384 14.1805 12.9289 14.5711C13.3195 14.9616 13.9526 14.9616 14.3431 14.5711L20.7071 8.20711ZM0 8.5H20V6.5H0V8.5Z"
                  fill="#7875FE"
                />
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
