<section class="sketchbook">
  <div class="sketchbook__inner container">
    <div class="sketchbook__body">
      <h2 class="sketchbook__title">Simple скетчбук</h2>
      <div class="sketchbook__description">
        <p>80 листов, твердая обложка, бумага  Fabriano 200 г/м2. Подойдет и для графики и для акварели. Для самых смелых творческих замыслов!</p>
      </div>
      <a class="sketchbook__button button" href="#!">Купить</a>
    </div>
    <picture class="sketchbook__image-wrapper">
      <source media="(max-width: 575px)" srcset="./img/sketchbook/sketchbook-bg-mobile-s.webp">
      <source media="(max-width: 767px)" srcset="./img/sketchbook/sketchbook-bg-mobile.webp">
      <source media="(max-width: 1023px)" srcset="./img/sketchbook/sketchbook-bg-tablet.webp">
      <img
        class="sketchbook__image"
        src="./img/sketchbook/sketchbook-bg.webp"
        alt="Скетчбук"
        loading="lazy"
      />
    </picture>
  </div>
</section>